.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 50px;
    background-color: #006A71;
}

.label {
    font-family: "Lato";
    color: #F2EFE7;
}